
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>数据查询</title>
	<head th:include="compage/comCSS::commCss"></head>
	<span th:include="compage/comJS :: commJs"></span>
	<script th:src="@{js/data.js}"></script>
</head>
<body>
	<div class="container-fluid col-lg-12 col-md-12 col-sm-12" id="divTotal">
		<div class="btnDivCss col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
			<button class="btn btn-info"    id="query_btn"    th:text="#{QUERY_BTN_TAG}"></button>
			<button class="btn btn-success" id="downlaod_btn"    th:text="#{DOWNLOAD_BTN_TAG}"></button>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="cardBox cardBoxTable noPosition" style="border: none;">
				<div class="tab" role="tabpane">
					<ul class="nav nav-tabs" role="tablist" style="border: none;">
						<li role="presentation" class="active">
							<a href="#tab1" aria-controls="tabpane" role="tab" data-toggle="tab">
								<i class="fa fa-table" >
									<span th:text="#{QUERY_CONDITION_TAG}"></span>
								</i>
							</a>
						</li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content tabs" id="heightCls1">
						<div role="tabpane" class="tab-pane fade in active" id="tab1">
							<form class="form-horizontal">
								<div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 5px;">
									<div class="col-lg-3 col-md-3 col-sm-3">
										<label class="control-label col-lg-4 col-md-4 col-sm-4" for="lotIdText" th:text="#{TOOL_ID_TAG}"></label>
										<div class="col-lg-8">
											<select id="toolIdSel" class="form-control" style="width: 100%"></select>
										</div>
									</div>
									<div class="col-lg-9 col-md-9 col-sm-9">
									<label class="control-label col-lg-1 col-md-1 col-sm-1" for="dataNameSel" th:text="#{DATA_NAME_TAG}"></label>
									<div class="col-lg-11">
										<select id="dataNameSel" multiple ="multiple" class="form-control" style="width: 100%"></select>
									</div>
								</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12" id="divTotalTable">
			<div class="cardBox cardBoxTable noPosition" style="border: none;">
				<div class="tab" role="tabpane">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist" style="border: none;">
						<li role="presentation" class="active">
							<a href="#tabPane_toolChangeHis" aria-controls="tabpane" role="tab" data-toggle="tab">
								<i class="fa fa-table">
									<span th:text="#{DATA_INFO_TAG}"></span>
								</i>
							</a>
						</li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content tabs">
						<div id="dataInfoListDiv">
							<table id="dataInfoListGrd"></table>
							<div id="dataInfoListPg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>