<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<span th:fragment="commJs">
    <script th:src="@{lib/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{lib/jquery/jquery-migrate-1.1.0.min.js}"></script>
    <script th:src="@{lib/bootstrap-3.3.5-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{lib/bootstrap/assets/js/bootstrap-tooltip.js}"></script>

    <script th:src="@{lib/jquery-ui-1.9.2.custom/development-bundle/ui/jquery.ui.core.js}"></script>
    <script th:src="@{lib/jquery-ui-1.9.2.custom/development-bundle/ui/jquery.ui.widget.js}"></script>
    <script th:src="@{lib/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js}"></script>
        <!-- jqGrid -->
    <script th:src="@{lib/jquery.jqGrid-4.4.1/js/i18n/grid.locale-en.js}"></script>
    <script th:src="@{lib/jquery.jqGrid-4.4.1/js/jquery.jqGrid.min.js}" ></script>

    <script th:src="@{lib/bootstrap/assets/js/bootbox.js}"></script>

    <script th:src="@{lib/json2/json2.min.js}" ></script>

    <script th:src="@{js/com/comfunction.js}" ></script>
    <script th:src="@{js/com/comDialog.js}" ></script>

    <script th:src="@{js/com/SelectDom.js}" ></script>

    <script th:src="@{js/i18n/language_CN2.js}"></script>
    <script th:src="@{lib/HubSpot-messenger/build/js/messenger.min.js}"></script>
    <script th:src="@{js/dialog/showMessenger.js}"></script>
    <script th:src="@{js/dialog/showSuccess.js}" ></script>

        <!-- Ini action -->
    <script th:src="@{js/com/iniAction.js}"></script>
    <script th:src="@{js/com/comDef.js}"></script>
    <script th:src="@{js/com/excel.js}" ></script>
    <script th:src="@{lib/select2-4.0.2/dist/js/select2.min.js}"></script>
    <script th:src="@{js/com/modal-select2.js}" ></script>

    <script th:src="@{js/com/Regex.js}" ></script>
    <script th:src="@{js/com/cookie.js}" ></script>
    <script th:src="@{js/com/comDef.js}" ></script>
    <script th:src="@{js/com/changeLayout.js?v=2}"></script>
    <script th:src="@{lib/laydate/laydate.js}"></script>

        <!-- 打印功能 -->

        <!-- 日历 -->
    <script th:src="@{lib/fullcalendar/fullcalendar.js}" type="text/javascript"></script>
        <!-- switch -->
    <script th:src="@{lib/switch/bootstrap-switch.js}"></script>

        <!-- 滚动条样式 -->
    <script th:src="@{lib/nicescroll/jquery.nicescroll.js}"></script>
</span>
</html>